<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href="css/main.css" rel='stylesheet' type='text/css'>
</head>
<body class='red'>
  <div style='margin:auto; width:50%; text-align:center; margin-top:20%'>
    <h1 style='color:#3B3B3B; font-family: "Raleway", sans-serif;'>Welcome to Gutenberg!</h1>
    <a href='/login' style='text-decoration:none;'>Log In</a>   ||   <a href='/signup' style='text-decoration:none;'>Sign up </a>
  </div>
</body>
</html>
