<h1>New Post</h1>

<form method='POST' action='/posts'>

  <label>Title</label>
  <input type='text' name='title'>

  <br><br>

  <label>Content</label>
  <input type='text' name='content'>

  <br><br>

  <input type='submit' value='Submit'>

</form>